<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>St.Paul 99</title>
    
      <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>

    <!-- Ajax - D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <!-- Our CSS -->
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/d3Style.css"> 

    <!-- Apex Chart Javascript Library -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</head>

<body>

  <div class="container">
    
    <!-- Container to show title on page -->
    <div class="row">
      <div class="col jumbotron text-center">
        <h1>St.Paul 99 - Project II</h1>
        <br>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
          quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
          ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      </div>
    </div>

    <!-- Row to hold Leaflet Map -->
    <div class="row">

      <div class="col">
            <div id="map">
                <!-- We append our chart here. -->
            </div>
      </div>
    </div>

    <!-- Row to hold plot/dashboard information -->
    <div class="row">

        <!-- Create a column for plot -->
        <div class="col-8">
          <div id="plot">
                <!-- We append our plot here. -->
          </div>
        </div>

        <!-- Create a column for dashboard information -->
        <div class="col-4">
            <div id="dashboard">
                <!-- We append our dashboard here. -->
            </div>
        </div>
    </div>

    <!-- Row to hold footer -->
    <div class = "row"></div>

            <!-- Footer-->
            <div class="footer text-center">
              <p>Special thanks to: </p>
              <p>The Coding Boot Camp&copy;2020</p>
            </div>
    </div>

  <!-- Call the supporting javascript files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="static/dashboard.js"></script>
  <<script type="text/javascript" src="static/map.js"></script>
  <script type="text/javascript" src="static/plot.js"></script>


</body>

</html>
