<!DOCTYPE html>
<html lang="en">

<!-- Note : need to run insert_data.py to create the mongo database -->

<head>

    <meta charset="UTF-8">
    <title>St.Paul 99</title>
    
    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>

    <!-- Ajax - D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" type="text/css" href="static/leaflet.extra-markers.min.css">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/leaflet.extra-markers.min.css">

    <!-- Leaflet-Choropleth JavaScript -->
    <script type="text/javascript" src="static/choropleth.js"></script>
    
    <!-- Our CSS -->
    <link rel="stylesheet" href="../static/d3Style.css"> 
    <link rel="stylesheet" href="../static/style.css">

    <!-- Apex Chart Javascript Library -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- Chartist.js library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

</head>

<body>

  <div class="container">
    
    <!-- Container to show title on page -->
    <div class="row">
      <div class="col jumbotron text-center">
        <h1>St.Paul 99 - Project II</h1>
        <br>
        <p>This website was created to present the work completed for Project II in the Data Analytics Coding Bootcamp offered through 
            the University of Minnesota, College of Continuing and Professional Studies. This website presents traffic stop incidents
             within the city of Saint Paul, Minnesota collected from 1/1/2017 to 12/31/2018. The original data set was collected by police officers and 
             shared through a Socrata powered platform. For more information on the original raw data, please refer to
            <a href="https://information.stpaul.gov/Public-Safety/Traffic-Stop-Dataset/kkd6-vvns" target="_blank"><u>Open Information Saint Paul</u></a>.
          </p>
          <p>
            Currently this webpage draws the data from a Mongo database that is hosted by the user's computer.
            The visualizations on this page present several interactive graphics to help the user navigate through the data set. 
            The graphics leverage Chartist, Leaflet, MapBox, and Plotly javascript libraries. Bootstrap and Bootswatch libraries were used to format the website.
          </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table">
            <tr class="table-info">
                <td style="vertical-align: middle">Group Traffic Stop Data by Different Categories:</td>
                <td>
                    <!-- placeholder for the drop-down/interactive plot-->
                    <select id="selDataset" class="custom-select">
                        <option value="race">Race</option>
                        <option value="gender">Gender</option>
                        <!-- <option value="DriverSearched">Driver Searched?</option> -->
                        <!-- <option value="VehicleSearched">Vehicle Searched?</option> -->
                    </select> 
                </td>
            </tr>
        </table>
      </div>
    </div>

      <div class="row">
          <div class="col text-center">
            <br><br> <!--breaks to put space between drop down and graphic title-->
            <!-- title for plotly graph -->
            <h3>Traffic Stop Count in Saint Paul</h3>
          </div>
      </div>

      <div class ="row">
        <div class="col">
          <!-- Plotly graphic -->
          <div id="plot">
        </div>
          </div>
      </div>
    <br>

      <div class="row">
        <div class="col text-center">
          <!-- title for chartist graph -->
          <h3>Total Traffic Stop Count per Month</h3>
        </div>
      </div>
  

      <div class ="row">
        <div class="col">
            <div id="chart2"></div>
            <!-- we put the Chartist line graph here-->
            <br> <br>
            <!-- Adding a break to create space between charts and graphic titles -->
        </div>
      </div>

      <!-- <div class ="row">
          <div class="ct-chart" id ="chart2"></div>
           we put the Chartist donut here
      </div> -->

      <!-- Row for header over map -->
      <div class="row">
          <div class="col text-center">
            <!-- title for chartist graph -->
            <h3>Map of Total Traffic Stops in Saint Paul</h3>
          </div>
        </div>

    <!-- Row to hold Leaflet Map -->
    <div class="row">
      <div class="col">
            <div id="map" class="mapStyle">
            <!-- styling of shape for map is in style.css file -->
            <!-- We append our map here. -->
            <br> 
            <!-- Adding a break to create space between charts and graphic titles -->
            </div>
      </div>
    </div>

  <div class = "row">
      <!-- Row to hold footer -->
      <div class="col">
        <!-- Place in colum to have it fit the width of the page -->
        <div class="text-center" id="text-center">
          <hr>
          <p>Special thanks to: </p>
          <p>The Coding Boot Camp&copy;2020</p>
        </div>
        </div>
    </div>
  </div> <!--End of div container-->




  <!-- Call the supporting javascript files -->
    <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="../static/leaflet.extra-markers.min.js"></script>
  <script type="text/javascript" src="../static/config.js"></script>
  <script type="text/javascript" src="../static/basemaps.js"></script>
  <script type="text/javascript" src="../static/dashboard.js"></script>
  <script type="text/javascript" src="../static/map.js"></script>
  <!-- <script type="text/javascript" src="../static/plot.js"></script> -->
  <script type="text/javascript" src="../static/plot2.js"></script>
  <script type="text/javascript" src="../static/chartist.js"></script> 


</body>

</html>
